@using LasPepas.Entidades.Enums
@using LasPepas.Enums
@model LasPepas.Entidades.Prenda

@{
    ViewData["Title"] = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="ms-2 me-2 mt-4">
    <h4 class="text-secondary fw-bold">Registrar prenda</h4>
    <hr />
    <form asp-action="Crear">
        <div class="row col-md-12">

            <div class="col-md-4">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mb-2">
                    <input asp-for="Codigo" placeholder="Código" class="form-control" style="color:#187498;" />
                    <span asp-validation-for="Codigo" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <input asp-for="FechaCreacion" placeholder="Fecha de creación" class="form-control" />
                    <span asp-validation-for="FechaCreacion" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">

                    @Html.DropDownList("Marca", Html.GetEnumSelectList<Marca>(), "--Seleccionar marca--", new { @class = "form-control" })
                    <span asp-validation-for="Marca" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    @Html.DropDownList("TipoPrenda", Html.GetEnumSelectList<TipoPrenda>(), "--Seleccionar Tipo de prenda--", new { @class = "form-control" })
                    <span asp-validation-for="TipoPrenda" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">

                    @Html.DropDownList("Temporada", Html.GetEnumSelectList<Temporada>(), "--Seleccionar temporada--", new { @class = "form-control" })
                    <span asp-validation-for="Temporada" class="text-danger"></span>
                </div>


            </div>

            <div class="col-md-4">
                <div class="form-group mb-2">
                    <input asp-for="Descripción" placeholder="Descripción del articulo" class="form-control" style="color:#187498;" />
                    <span asp-validation-for="Descripción" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">

                    <input asp-for="Talle" placeholder="Talle" class="form-control" style="color:#187498;" />
                    <span asp-validation-for="Talle" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">

                    <input asp-for="Observaciones" placeholder="Color" class="form-control" style="color:#187498;" />
                    <span asp-validation-for="Observaciones" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <input asp-for="Precio" placeholder="Precio" class="form-control" style="color:#187498;" />
                    <span asp-validation-for="Precio" class="text-danger"></span>
                </div>
                <div class="form-group form-check mb-2">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Disponible" /> @Html.DisplayNameFor(model => model.Disponible)
                    </label>
                </div>
            </div>

            <div class="col-md-4">
                <h3 class="text-secondary fw-bold">Por favor escanea el código</h3>
                <i class="fa-solid fa-qrcode text-danger"></i>
                <strong class="text-secondary">Código: </strong>
                <div class="text-primary" id="last-barcode"></div>
            </div>
            <div class="form-group mb-2 d-grid gap-2 col-md-8 mt-2">
                <button type="submit" value="" class="btn btn-success"><i class="fa-sharp fa-solid fa-circle-check"></i>&nbsp Registrar prenda</button>
            </div>
        </div>


    </form>

    <div>
        <a asp-action="Index" class="mb-3">Regresar</a>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script>
    //Codigo para scanear codigos de barra
    var barcode = '';
           var interval;
           document.addEventListener('keydown', function(evt) {
               if (interval)
                   clearInterval(interval);
               if (evt.code == 'Enter') {
                   if (barcode)
                       handleBarcode(barcode);
                   barcode = '';
                   return;
               }
               if (evt.key != 'Shift')
                   barcode += evt.key;
               interval = setInterval(() => barcode = '', 20);
           });

           function handleBarcode(scanned_barcode) {
               document.querySelector('#last-barcode').innerHTML = scanned_barcode;
           }
</script>