@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="row col-lg-12">
        <h1 class="fw-bold text-secondary text-center col-lg-12">Bienvenido a Las Pepa´s</h1>
    </div>
</div>